.article {
    padding: 3rem;
}

.article img {
    width: 100%;
    height: 500px;
    margin-bottom: 1.5rem;
    object-fit: cover;
}

.article h1 {
    margin-bottom: 1.5rem;
}

.comments {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.comments:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: #FFBD3E;
}

.comments > div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #F1F1F1;
}