.articles {
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
}

.article {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 2px solid transparent;
    background: white;
}

.article:hover {
    border: 2px solid #418fff;
}

.article img {
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 1rem;
}

.article .content {
    overflow: hidden;
}

.article h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: black;
}

.article p {
    font-size: 1.25rem;
    color: #4E4E4E;
    word-break: break-all;
}