{% block stylesheets %}
<link rel ="stylesheet" href="{{ asset('resources/stylesheets/footer.css')}}">
{% endblock %}
<footer>
    <div>
        <a href="mailto:assocation.tigr@gmail.com">assocation.tigr@gmail.com</a>
    </div>
    <div>
        <a href="https://www.facebook.com/assocationTigr"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/TigrAssociation"><i class="fab fa-twitter"></i></a>
    </div>
</footer>