{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/_variables.scss">
{% endblock %}
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{path('accueil.index')}}"><img class="logo" src="resources/medias/logo.svg"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href={{path('accueil.index')}} style="color : white">Accueil
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_action')}}" style="color : white">Nos Actions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('accueil.index')}}" style="color : white">Nous Contacter</a>
          </li>
          </li>
        </ul>
        <ul class="collapse navbar-collapse" style="justify-content: flex-end; margin-right: 1.5rem;" id="navbarColor01"> <!--Temporary fix with margin l/r-->
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_connexion')}}" style="color : white">Se connecter</a>
          </li>
          <li class="nav-item">
            <a class="signUp" href="{{path('app_inscription')}}" style="color : white">S'inscrire</a>
          </li>
        </ul>
        <form class="d-flex" data-dashlane-rid="62b6639d0a9d13b3" data-form-type="">
          <input class="form-control me-sm-2" type="search" placeholder="Search" data-dashlane-rid="2041b57bae267501" data-form-type="">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit" data-dashlane-label="true" data-dashlane-rid="04a990a9dc43ce4a" data-form-type="">Search</button>
        </form>
      </div>
    </div>
  </nav>