{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel ="stylesheet" href="{{ asset('resources/stylesheets/Main/index.css')}}">
{% endblock %}

{% block title %}Tigr - Acceuil
{% endblock %}

{% block body %}
<head class="container">
    <link rel="stylesheet" href="{{ asset('resources/medias/articles/24_code_02.jpg') }}">
</head>
<body>
    <section class="main" style="background-image: url('resources/medias/articles/24_code_02.jpg');">
        <h1>TIGR</h1>
    </section>
    <section class="attributes">
        <div class="attribute">
            <img src="{{ asset('resources/medias/attributes/1.svg')}}"/>
            <FONT size="2px"><p>Défendre et renforcer les droits et intérêts des étudiants du lycée Douanier Rousseau à Laval.</p></FONT>
        </div>
        <div class="attribute">
            <img src="{{ asset('resources/medias/attributes/2.svg')}}"/>
            <FONT size="2px"><p>Promouvoir les initiatives étudiantes, les actions solidaires, culturelles, sanitaires répondants aux besoins et aux problématiques rencontrées quotidiennement par les étudiants.</p></FONT>
        </div>
        <div class="attribute">
            <img src="{{ asset('resources/medias/attributes/3.svg')}}"/>
            <FONT size="2px"><p>Développer des projets d’action fédérateurs au service des étudiants, tout en promouvant des valeurs de solidarité, de citoyenneté et d’égalité des droits.</p></FONT>  
        </div>
    </section>
    <section class="about-us">
        <div>
            <img src="{{ asset('resources/medias/illustration.svg')}}" >
        </div>
        <div>
            <h1>Qui sommes nous ?</h1>
            <p>TIGR, Association loi 1901, créée en février 1993 par les étudiants du la section b.t.s. informatique
                de gestion du lycée douanier rousseau. Cette association est gérée directement par un bureau
                d’élèves élus.</p>
                <FONT size="2px"><a href="{{path('app_action')}}">Nos actions</a></FONT>
        </div>
    </section>
    <section class="contact-us" id="contact-us">
        <form method="POST" action="<?=WEBROOT?>main/contact">
            <div>
                <input name="sender" type="email" placeholder="Email">
            </div>
            <div>
                <input name="subject" type="text" placeholder="Sujet">
            </div>
            <div style="height: 500px;">
                <textarea name="message" id="message" placeholder="Message" required></textarea>
                <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </div>
        </form>
    </section>
</body>
</span>
{% endblock %}