{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('/resources/stylesheets/Articles/index.css')}}"/>
{% endblock %}

{% block title %}Tigr - Nos Actions
{% endblock %}

{% block body %}

<html>
<head>
    <meta charset="UTF-8">
    <title>TIGR</title>
    <script src="https://kit.fontawesome.com/f864103c2e.js" crossorigin="anonymous"></script>
    <script src="{{ asset('resources/scripts/header.js')}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://cdn.wysibb.com/js/jquery.wysibb.min.js"></script>
    <link rel="stylesheet" href="http://cdn.wysibb.com/css/default/wbbtheme.css" />
</head>
<body>
    <div class="templateContent">
        <head>
    <link rel="stylesheet" href="{{ asset('resources/stylesheets/Articles/index.css')}}"/>
</head>
<body>
    <section class="articles">
        <a class="article" href="/2022-tigr/articles/article/0">
                    <img src="{{ asset('resources/medias/articles/integration_02.jpg')}}"/>
                    <div class="content">
                        <h1>essai bis</h1>
                        <p>blabla terre bis</p>
                    </div>
                </a><a class="article" href="/2022-tigr/articles/article/1">
                    <img src="{{ asset('resources/medias/articles/LAN.jpg')}}"/>
                    <div class="content">
                        <h1>Soirée LAN</h1>
                        <p>L'association organise chaque année une LAN party. C' est un événement rassemblant des joueurs de jeu vidéo dans le but de jouer à des jeux vidéo multijoueurs en utilisant un réseau local au lieu d'Internet. <br/>
Une salle à l'extérieur du lycée est réservée, et les étudiants de BTS SIO montent la LAM. Tout au long de la semaine précédente la soirée LAN, les étudiants rassemblent des jeux vidéo. Le jour J, des défis s'organisent. <br/>
Pour les étudiants qui ne sont pas intéressés par les jeux vidéos, il y a des tournois de poker ou une piste de danse.</p>
                    </div>
                </a><a class="article" href="/2022-tigr/articles/article/2">
                    <img src="{{ asset('resources/medias/articles/journee_sport_01.jpg')}}"/>
                    <div class="content">
                        <h1>Journée sportive</h1>
                        <p>Le dernier jour d'école des étudiants en première année de BTS, l'association TIGR organise une journée sportive. Barbecue, jeux de société ou de plein air sont à l'honneur. Il est possible d'affronter les professeurs surtout M. CCC. </p>
                    </div>
                </a><a class="article" href="/2022-tigr/articles/article/3">
                    <img src="{{ asset('resources/medias/articles/24_code_02.jpg')}}"/>
                    <div class="content">
                        <h1>24h du code</h1>
                        <p>C’est un défi dans la famille des coding party et des hackathons. Il est réservé aux étudiants de BTS SIO, passionnés de programmation. En 2019 et 2018, les sujets étaient portés par : <br/>
    • ST MicroElectronics <br/>
    • Sopra Steria <br/>
    • le HAUM <br/>
    • La Direction Technologie et Système d'information MMA du groupe Covéa <br/>
Tout langage et tout environnement de programmation sont les bienvenus, et les sujets sont dévoilés le jour J. <br/>
Les étudiants doivent donc résoudre des énigmes pendant 24h non stop. Certes, il faut être passionné de programmation pour relever les défis mais aussi mettre en place les bonnes stratégies. Les méthodes agiles et le versionning  seront des atouts indiscutables pour ne pas perdre des lignes de code en chemin. <br/>
L’inscription se fait en équipe de 2 à 5 personnes et est financée par l'association ainsi que le transport. En 2017, nos étudiants de 2ème année avait relevé ce défi et avait choisi le sujet sur l'escape game. L'année suivante, alors qu'ils avaient intégré d'autres établissements, ils ont réitéré l'opération. <br/>
Cette année, elle se fera en novembre...</p>
                    </div>
                </a><a class="article" href="/2022-tigr/articles/article/824">
                    <img src="{{ asset('resources/medias/articles/824.jpg')}}"/>
                    <div class="content">
                        <h1>essai bis</h1>
                        <p>blabla</p>
                    </div>
                </a><a class="article" href="/2022-tigr/articles/article/433">
                    <img src="{{ asset('resources/medias/articles/433.jpg')}}"/>
                    <div class="content">
                        <h1>Dernier Essai</h1>
                        <p>Test</p>
                    </div>
                </a><a class="article" href="/2022-tigr/articles/article/0">
                    <img src="{{ asset('resources/medias/articles/integration_02.jpg')}}"/>
                    <div class="content">
                        <h1>essai bis</h1>
                        <p>blabla terre bis</p>
                    </div>
                </a><a class="article" href="/2022-tigr/articles/article/0">
                    <img src="{{ asset('resources/medias/articles/integration_02.jpg')}}"/>
                    <div class="content">
                        <h1>essai bis</h1>
                        <p>blabla terre bis</p>
                    </div>
                </a>    </section>
</body>    </div>
</body>
</html>
{% endblock %}