{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/_variables.scss">
<link rel ="stylesheet" href="{{ asset('resources/stylesheets/Main/index.css')}}">
{% endblock %}

{% block title %}Tigr - Nous Contacter
{% endblock %}