footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #FFBD3E;
}

footer > div {
    display: inline-flex;
    margin: 0.25rem 0;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    font-size: 1.25rem;
    margin: 0 0.5rem;
}