
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    height: 45px;
    padding: 1rem 0;
    background-color: black;
    color: white;
    z-index: 999;
}

header .logo {
    height: 100%;
}

header ul {
    flex: 1;
    display: inline-flex;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-right: 2rem;
}

header ul li a {
    color: white;
}

header ul li.active a,
header ul li a:hover {
    font-weight: bold;
    cursor: pointer;
}

header .signUp {
    padding: 0.5rem 1rem;
    border-radius: 16px;
    border: 2px solid transparent;
    background-color: #FFBD3E;
    color: white;
}

header .signUp:hover {
    border: 2px solid #d69f33;
    cursor: pointer;
}

header .signOff {
    font-size: 2rem;
    color: white;
}

header .signOff:hover {
    color: whitesmoke;
}