@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-weight: 500;
    background: white;
}

* {
    user-select: none;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.templateContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.modal {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal.active {
    visibility: visible;
}

.modal > div {
    padding: 2rem;
    min-width: 500px;
    min-height: 300px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

.modal h1 {
    font-size: 1.5rem;
    color: #FFBD3E;
}