section.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
}

section.main h1 {
    letter-spacing: 5rem;
    font-size: 4rem;
    color: white;
}

section.attributes {
    display: inline-flex;
    justify-content: space-around;
    height: 35vh;
    padding: 0 2rem;
    background-color: #FFBD3E;
    font-size:5px;
}

section.attributes .attribute {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.10);
    background-color: white;
    color: #8B8B8B;
    text-align: center;
    overflow: hidden;
    transform: translateY(25%);
    font-size:small;
}

section.attributes .attribute img {
    width: 50%;
}

section.about-us {
    display: inline-flex;
    height: 40vh;
    padding: 0 2rem;
    margin: 10rem 0;
}

section.about-us > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.about-us h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
    color: #FFBD3E;
}

section.about-us p {
    font-size: 1.25rem;
    color: #424242;
    margin-bottom: 5rem;
}

section.about-us a {
    width: 100px;
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: black;
    color: white;
    text-align: center;
    transition: transform 0.2s;
}

section.about-us a:hover {
    cursor: pointer;
    transform: scale(0.95);
}

section.contact-us form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 10rem;
    background-color: #F1F1F1;
}

section.contact-us > form > div {
    position: relative;
    display: flex;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: white;
}

section.contact-us input,
section.contact-us textarea {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    resize: none;
}

section.contact-us button[type="submit"] {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    border: none;
    outline: none;
    background: none;
    color: #91D790;
    font-size: 3rem;
}

section.contact-us button[type="submit"]:hover {
    color: #83c181;
    cursor: pointer;
}