form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}

form h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #FFBD3E;
    text-align: center;
}

form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
}

form span {
    margin-bottom: 0.5rem;
}

form input,
form textarea,
form select {
    height: 35px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
}

form .wysibb,
form textarea {
    height: 400px;
}

form button {
    width: 250px;
    height: 50px;
    padding: 1rem;
    border: none;
    border-radius: 16px;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    color: white;
    background-color: #80CA79;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
}

form button:hover {
    cursor: pointer;
    box-shadow: none;
    transform: scale(0.95);
}