.content {
    padding: 5rem;
}

.content h1 {
    color: #FFBD3E;
    margin-bottom: 2rem;
}

.content ul li {
    margin-bottom: 0.5rem;
}

.content ul li a {
    color: black;
}

.content ul li a:hover {
    text-decoration: underline;
}