form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form h1 {
    margin-bottom: 2.5rem;
    color: #FFBD3E;
    font-size: 3rem;
}

form input {
    width: 450px;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    background-color: white;
}

form input::placeholder {
    color: #898989;
}

btnconnex form button[type="submit"] {
    width: 200px;
    padding: 1rem;
    border: none;
    border-radius: 16px;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    color: white;
    background-color: #80CA79;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
}

form button[type="submit"]:hover {
    cursor: pointer;
    box-shadow: none;
    transform: scale(0.95);
}

.error {
    display: inline-flex;
    width: 400px;
    padding: 0.5rem;
    margin-bottom: 2.5rem;
    border-radius: 5px;
    border: 2px solid rgb(242, 177, 184);
    background-color: rgb(250, 221, 224);
    color: rgb(198, 72, 78);
}

.error i {
    margin-right: 0.5rem;
}