{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('resources/stylesheets/Sign/index.css')}}"/>
{% endblock %}

{% block title %}Tigr - Inscription
{% endblock %}

{% block body %}

<html>
<body>
    <div class="templateContent">
<body>
    <form method="POST" action="/2022-tigr/signUp/action">
        <h1>Inscription</h1>
                <input type="text" name="email" placeholder="E-mail"/>
        <input type="password" name="password" placeholder="Mot de passe"/>
        <button type="submit">S'enregistrer</button>
    </form>
</body>    
</div>
</body>
</html>

{% endblock %}